/* ==Couleur principal du site
noir : #000508;
gris : #525e54;
Tranche : #9d7b60;
sable : #c59861
sable sombre :#36281d;
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
font-family: 'Major Mono Display', monospace;
*/
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
  body {
      width: 100%;
      background-color: #000508;
  }
h1, h2, h3, a {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.9em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 100%;
  text-align: center;
}
h4 {
  font-size: 0.85em;
}
strong {
  font-size: 1.2em;
  font-weight: 700;
}
ul {
  list-style: none;
}
/*CSS Navigation*/
/*header {
  width: 100%;
  margin-top: 0px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 280s ease infinite;
  color: #36281d;
  text-align: center;
}
footer {
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 280s ease infinite;
  color: #36281d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}*/
header {
  width: 100%;
  margin-top: 0px;
  background: #525e54;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}
footer {
  width: 95%;
  background: #525e54;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1em;
}

.listNav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0em 1em 0.5em 1em;
    flex-direction: row;
    justify-content: space-between;
}
.lienAdmin {
  text-decoration: none;
  font-family: serif;
  color: white;
}
.lienAdmin:hover {
  text-decoration: underline;
}
.lienSite {
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.lienSite:hover {
  text-decoration: underline;
}
.navGallery {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.navGallery:hover {
  text-decoration: underline;
}
/*CSS Navigation*/
/*Corps de la page*/
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
article {
  width: auto;
  height: auto;
}
/*Flex box*/
.colonne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.ligne {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    align-content: flex-end;
    align-items: baseline;
}
/*Boxes*/
.boxStandard {
  /*border: 3px solid #9EFCEA;*/
  border-radius: 20px 0px 20px 0px;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
#texte {
  background: #525e54;
  margin: 0.5em;
  padding: 0.75em;
  margin-top: 1em;
  /*border-radius: 20px 0px 20px 0px;*/
  /*border: 5px #9d7b60 ridge;*/
}
.center {
  text-align: center;
  margin-bottom: 0.25em;
}
/*Corps de la page*/
/*Formulaires*/
input {
  margin-left: 2em;
}
.formulaire {
  /*height: 50vh;*/
  color: #9EFCEA;
  display: flex;
  flex-direction: column;
}
.inputFormulaire {
    width: 26vh;
    border: 6px double #9d7b60;
    border-radius: 5px;
}
.inputFormulaireNumber {
  width: 5vh;
  border: 6px double #9d7b60;
  border-radius: 5px;
}
.buttonStandard {
  max-width: 20em;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  color: #000508;
  font-family: 'Major Mono Display', monospace;
  font-size: 1em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-radius: 20px;
}
.buttonAdmin {
  font-size: 1em;
  background-color: #b1b1b1;
  color: #000508;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-radius: 20px;
}
#bio {
  border-radius: 10px;
}
/*Formulaires*/

/*Footer*/

/*Footer*/
/*Effet spéciaux*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*Effet Spéciaux Gallery*/
.hauteurGalleryA {
  height: 200px;
  width: auto;
  border-radius: 10px;
}
.hauteurGalleryM {
  height: 100vh;
  width: auto;
}
.couloirGallery {
  background: #525e54;
  padding: 0.5em;
  margin-top: 0.75em;
  border-radius:30px;
}
/* Galerie des images*/
/*.gallery {
  margin: 100px auto 0;
  padding: 0 20px;
  padding-bottom: 10px;
  max-width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 10px;
  justify-content: center;
}*/
.gallery {
  margin: 100px auto 0;
  padding: 0 20px;
  max-width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 10px;
  justify-content: center;
}
.item {
  min-height: 200px;
  min-width: 200px;
  background: #525e54;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tailleGallerie {
  width: 180vh;
  height: auto;
}
#titreOeuvre {
  text-align: center;
  font-size: 1.2em;
}
/* Galerie des images*/
/*Effet spéciaux*/


@media screen and (max-width: 740px) {
  nav {
    font-size: 0.5em;
  }
  h1, h2, h3, a {
    font-size: 1em;
  }
  .listNav {
      flex-direction: column;
  }
  .buttonStandard {
      font-size: 0.8em;
  }
  .hauteurGalleryM {
    height: 60vh;
  }
  .gallery {
    margin: 100px auto 0;
    padding: 0 20px;
    max-width:auto;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .item {
    min-height: 100px;
    min-width: 100px;
    background: #525e54;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
