/* ==Couleur principal du site
noir : #000508;
gris : #525e54;
Tranche : #9d7b60;
sable : #c59861
sable sombre :#36281d;
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
font-family: 'Major Mono Display', monospace;
*/
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
  body {
      width: 100vm;
      background-color: #000000ff;
      color: white;
      height: 200px;

  }
h1, h2, h3, a {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.9em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 100%;
  text-align: center;
}
h4 {
  font-size: 0.85em;
}
strong {
  font-size: 1.2em;
  font-weight: 700;
}
ul {
  list-style: none;
}
/*CSS Navigation*/

header, footer {
  background: #14213dff;
  color: white;
  text-align: center;
}
nav {
   display: flex;
   align-items: center;
   justify-content: center;
}
h1::first-letter, h2::first-letter, h3::first-letter {
  font-size: 2em;
}
.listNav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 90%;
}

.lienAdmin {
  text-decoration: none;
  font-family: serif;
  color: #14213dff;
}
.lienAdmin:hover {
  text-decoration: underline;
}
.lienSite {
  text-decoration: none;
  color: #e5e5e5ff;
  font-size: 2em;

}
.lienSite:hover {
  text-decoration: underline;
}
.navGallery {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.navGallery:hover {
  text-decoration: underline;
}
/*CSS Navigation*/
/*Corps de la page*/
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.sectionGallery {
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}
article {
  width: auto;
  height: auto;
}
/*Flex box*/
.colonne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.ligne {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    align-content: flex-end;
    align-items: baseline;
}
/*Boxes*/
.boxStandard {
  border-radius: 20px 0px 20px 0px;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
#texte {
  background: #525e54;
  margin: 0.5em;
  padding: 0.75em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.center {
  text-align: center;
  margin-bottom: 0.25em;
}
/*Corps de la page*/
/*Formulaires*/
textarea {
  margin-top: 1em;
  background-color: #fca311ff;
  border-radius: 5px;
  border: 12px ridge #14213dff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255,232,0,0.55);
  box-shadow: 0px 0px 5px 1px rgba(255,232,0,0.55);
}
input {
  margin-left: 2em;
}
.formulaire {
  /*height: 50vh;*/
  color: #9EFCEA;
  display: flex;
  flex-direction: column;
}
.inputFormulaire {
    width: 26vh;
    border: 6px double #9d7b60;
    border-radius: 5px;
}
.inputFormulaireNumber {
  width: 5vh;
  border: 6px double #9d7b60;
  border-radius: 5px;
}
.buttonStandard {
  max-width: 20em;
  background-color: #e5e5e5ff;
  color: #14213dff;
  font-family: 'Major Mono Display', monospace;
  font-size: 1em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-radius: 10px;
}
.buttonStandard:hover {
  background-color: #fca311ff;
}
.buttonAdmin {
  font-size: 1em;
  background-color: #b1b1b1;
  color: #000508;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-radius: 20px;
}
#bio {
  border-radius: 10px;
}
/*Formulaires*/
/*Effet spéciaux*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*Effet Spéciaux Gallery*/
.hauteurGalleryA {
  height: 200px;
  width: auto;
  border-radius: 10px;
}
.hauteurGalleryM {
  height: 100vh;
  width: auto;
}
.couloirGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #14213dff;
  padding: 0.5em;
  margin-top: 0.75em;
  border-radius:30px;
}
/* Galerie des images*/
.gallery {
  margin: 100px auto 0;
  padding: 0 20px;
  max-width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 10px;
  justify-content: center;
}
.item {
  min-height: auto;
  min-width: auto;
  background: #14213dff;
  color: #e5e5e5ff;
  display: flex;
  align-items: center;
  justify-content: center;

}
.tailleGallerie {
  width: 180vh;
  height: auto;
}
#titreOeuvre {
  text-align: center;
  font-size: 1.2em;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prix {
  font-weight: bolder;
}
/* Galerie des images*/
/*Effet spéciaux*/
/*@media screen and (max-width: 740px)*/
@media (max-width: 400px ), screen and (orientation: portrait) {
  body {
    width: fit-content;
  }
  header, footer {
    width: auto;
  }
  nav {
    font-size: 1.5em;
  }
  h1 {
  font-size: 2.5em;
  }

  h2, h3, a {
    font-size: 2em;
  }
  img {
    height: 75%;
  }
  textarea {
    font-size: 1.5em;
  }
  input {
    font-size: 1.5em;
  }
  .formulaire {
    font-size: 2em;
  }
  .inputFormulaire {
    width: 50vh;
  }
  .listNav {
      flex-direction: column;
  }
  .navGallery {
    font-size: 2em;
  }
  .buttonStandard {
      font-size: 0.8em;
  }
  .hauteurGalleryM {
    height: 60vh;
  }
  .gallery {
    margin: 100px auto 0;
    padding: 0 20px;
    max-width:auto;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .couloirGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #14213dff;
    padding: 0.5em;
    margin-top: 0.75em;
  }
  .item {
    background: #14213dff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3em;
    padding-right: 3em;
  }
  .buttonStandard {
    font-size: 2.5em;
  }
}
