/* ==Couleur principal du site
noir : #000508;
gris : #525e54;
Tranche : #9d7b60;
sable : #c59861
sable sombre :#36281d;
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
font-family: 'Major Mono Display', monospace;
*/
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
  body {
    background-color: #000508;
  	height: 100%;
  }
header {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #36281d;
  text-align: center;
  vertical-align: middle;
}
section {
  height:70vh;
  background-color: #000508;
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: bottom;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 45s ease infinite;
  color: #36281d;
}

h1 {
  font-family: 'Major Mono Display', monospace;
}
h2 {
  font-family: 'Major Mono Display', monospace;
}
.buttonStandard {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  color: #c59861;
  font-family: 'Major Mono Display', monospace;
  font-size: 3em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 20px;
}
/*CSS Navigation*/
.listNav {
    list-style: none;
    display: flex;
    padding: 0em 1em 0.5em 1em;
    flex-direction: row;
    justify-content: space-between;
}
.lienSite {
  text-decoration: none;
  color: #000508;
  font-size: 2em;
}
.lienSite:hover {
  text-decoration: underline;
  color:  #36281d;
}
/*CSS Navigation*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
