/* ==Couleur principal du site
noir : #000508;
gris : #525e54;
Tranche : #9d7b60;
sable : #c59861
sable sombre :#36281d;
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
font-family: 'Major Mono Display', monospace;
*/
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
html {
  background-color: #000508;
}
  body {
      display: grid;
      align-content: stretch;
      align-items: start;
      justify-content: center;
      justify-items: stretch;
  }
h1, h2, h3, a {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.9em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 100%;
  text-align: center;
}
h4 {
  font-size: 0.85em;
}
strong {
  font-size: 1.2em;
  font-weight: 700;
}
ul {
  list-style: none;
}
/*CSS Navigation*/
header {
  width: 100%;
  margin-top: 0px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 280s ease infinite;
  color: #36281d;
  text-align: center;
  /*border-radius: 20px 20px 0px 0px;*/
}
footer {
  /*border-radius: 0px 0px 20px 20px*/
    width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 280s ease infinite;
  color: #36281d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.listNav {
    list-style: none;
    display: flex;
    padding: 0em 1em 0.5em 1em;
    flex-direction: row;
    justify-content: space-between;
}
.lienAdmin {
  font-family: serif;
  color: white;
}
.lienSite {
  text-decoration: none;
  color: #000508;
  font-size: 2em;
}
.lienSite:hover {
  text-decoration: underline;
  color:  #36281d;
}
/*CSS Navigation*/
/*Corps de la page*/
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
article {
  width: auto;
  height: auto;
}
/*Flex box*/
.colonne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.ligne {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    align-content: flex-end;
    align-items: baseline;
}
/*Boxes*/
.boxStandard {
  /*border: 3px solid #9EFCEA;*/
  border-radius: 20px 0px 20px 0px;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
#texte {
  background-color: #36281d;
  margin: 0.5em;
  padding: 0.5em;
  margin-top: 1em;
  /*border-radius: 20px 0px 20px 0px;*/
  /*border: 5px #9d7b60 ridge;*/
}
/*Corps de la page*/
/*Formulaires*/
input {
  margin-left: 2em;
}
.formulaire {
  /*height: 50vh;*/
  color: #9EFCEA;
  display: flex;
  flex-direction: column;
}
.inputFormulaire {
    width: 26vh;
    border: 6px double #9d7b60;
    border-radius: 5px;
}
.inputFormulaireNumber {
  width: 5vh;
  border: 6px double #9d7b60;
  border-radius: 5px;
}
.buttonStandard {
  max-width: 20em;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  color: #000508;
  font-family: 'Major Mono Display', monospace;
  font-size: 1em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-radius: 20px;
}
.buttonAdmin {
  font-size: 1em;
  background-color: #b1b1b1;
  color: #000508;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-radius: 20px;
}
#bio {
  border-radius: 10px;
}
/*Formulaires*/
/* Galerie des images*/
.gallery {
  margin: 100px auto 0;
  padding: 0 20px;
  padding-bottom: 10px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 10px;
  justify-content: center;
}
.item {
  min-height: 200px;
  min-width: 200px;
  background: #36281d;
  color: white;
  /*border: 3px solid #9EFCEA;*/
  border-radius: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  border-radius: 10px;
}
/* Galerie des images*/
/*Footer*/

/*Footer*/
/*Effet spéciaux*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*Effet spéciaux*/
@media screen and (max-width: 740px) {
  .listNav {
      flex-direction: column;
  }
  nav {
    font-size: 0.5em;
  }
  h1, h2, h3, a {
    font-size: 1em;
  }
  .buttonStandard {
      font-size: 0.8em;
  }
}
