/* ==Couleur principal du site
noir : #000508;
gris : #525e54;
Tranche : #9d7b60;
sable : #c59861
sable sombre :#36281d;
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
font-family: 'Major Mono Display', monospace;
*/
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
html {
  background-color: #000508;
}
h1, h2, h3, a {
  font-family: 'Major Mono Display', monospace;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
/*CSS Navigation*/
header {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #36281d;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}
.listNav {
    list-style: none;
    display: flex;
    padding: 0em 1em 0.5em 1em;
    flex-direction: row;
    justify-content: space-between;
}
.lienSite {
  text-decoration: none;
  color: #000508;
  font-size: 2em;
}
.lienSite:hover {
  text-decoration: underline;
  color:  #36281d;
}
/*CSS Navigation*/
/*Corps de la page*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
/*Flex box*/
.colonne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ligne {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}
/*Boxes*/
.boxStandard {
  border: 3px solid #9EFCEA;
  border-radius: 20px 0px 20px 0px;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

/*Corps de la page*/
/*Formulaires*/
input {
  margin-left: 2em;
}
.formulaire {
  height: 50vh;
  color: #9EFCEA;
  display: flex;
  flex-direction: column;
}
.inputFormulaire {
    width: 26vh;
    border: 6px double #9d7b60;
    border-radius: 5px;
}
.buttonStandard {
  max-width: 20em;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  color: #000508;
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-radius: 20px;
}
/*Formulaires*/
/*Footer*/
footer {
  border-radius: 0px 0px 20px 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 45s ease infinite;
  color: #36281d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
/*Footer*/
/*Effet spéciaux*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*Effet spéciaux*/
